[alias]
  ci = commit
  co = checkout
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(magenta)(%Creset%Cgreen%cr%Creset, %C(blue)%an%Creset%C(magenta))%Creset' --abbrev-commit --date=relative
  tags = tag --column
